/*
CSS 노말라이즈
*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  background-color: #a6c0d5;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 480px;
  margin: 0px auto;
}

.btn {
  background-color: #fbe400;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 40px;
  margin: 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: grey 2px 2px 4px;
}

.progress-bar {
  width: 100%;
  background-color: #fff;
  height: 30px;
  border-radius: 10px;
}

.percent {
  background-color: #fbe400;
  height: 30px;
  border-radius: 10px;
}
